<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:property name="base_width" value="0.180" />
<xacro:property name="base_length" value="0.240" />
<xacro:property name="base_height" value="0.085" />
<xacro:property name="base_mass" value="3.0" />


<xacro:macro name="mini_chassis" params="prefix">
    <link name="base_footprint"/>
    <link name="${prefix}base_link">
        <visual>
            <!-- <geometry>
                <mesh filename="file://$(find mini_description)/meshes/Chassis.stl" scale="1 1 1"/>
            </geometry> -->
            <geometry>
                <mesh filename="package://mini_description/meshes/shifted_base.stl" scale="0.001 0.001 0.001"/>
            </geometry>

            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <material name="white"/>
        </visual>

        <collision>
            <geometry>
                <mesh filename="package://mini_description/meshes/shifted_base.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 0 ${base_height/2}" rpy="0 0 0"/>
        </collision>
        <inertial>
            <origin xyz="${com_x} ${com_y} ${com_z}" rpy="0 0 0"/>
            <mass value="${base_mass}"/>
            <inertia ixx="${(1/12) * base_mass * ((base_width * base_width) + (base_height * base_height))}"  ixy="0.0"  ixz="0.0"  
                     iyy="${(1/12) * base_mass * ((base_length * base_length) + (base_height * base_height))}"  iyz="0.0" 
                     izz="${(1/12) * base_mass * ((base_length * base_length) + (base_width * base_width))}"/>
        </inertial>
    </link>

    <joint name="${prefix}base_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0235" rpy="0.0 0.0 0.0"/>
        <parent link="base_footprint"/>
        <child link="${prefix}base_link"/>
    </joint>
</xacro:macro>
</robot>