<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:macro name="mini_ros2_control" params="prefix use_gazebo">
    <ros2_control name="MiniSystem" type="system">
    <hardware>
        <xacro:if value="${use_gazebo}">
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:unless value="${use_gazebo}">
        <plugin>mini_hardware/DiffDriveMiniHardware</plugin>
        <param name="front_left_wheel_name">front_left_wheel_joint</param>
        <param name="front_right_wheel_name">front_right_wheel_joint</param>
        <param name="rear_left_wheel_name">rear_left_wheel_joint</param>
        <param name="rear_right_wheel_name">rear_right_wheel_joint</param>
        <param name="loop_rate">20</param>
        <param name="device">/dev/ttyACM0</param>
        <param name="baud_rate">57600</param>
        <param name="timeout_ms">2000</param>
        <param name="enc_counts_per_rev">1062</param>
        <param name="pid_p">200</param>
        <param name="pid_d">30</param>
        <param name="pid_i">15</param>
        <param name="pid_o">50</param>
        </xacro:unless>
    </hardware>

    <joint name="${prefix}front_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
    </joint>
    <joint name="${prefix}rear_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
    </joint>
    <joint name="${prefix}front_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
    </joint>
    <joint name="${prefix}rear_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
    </joint>

    </ros2_control>
</xacro:macro>
</robot>